//start reset css
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;

}

/* устанавливаем фокус */
:focus {
    outline: 0;
}

/* устанавливаем 'cellspacing="0"' для таблиц*/
table {
    border-collapse: collapse;
    border-spacing: 0;
}
//end reset css


body {
    background:yellow;
}
.container{
    width: 80%;
    margin: 0 auto;
}     
.header {
    height: 150px;
    background-color: aqua;
    display: flex;
}   
.sidebar { 
    height: 50px;
    width: 30%;
    background-color: beige;
    min-height: calc(100vh - 150px);
}   
.content{
    width: 100%;
    height: 50px;
    background-color: burlywood;
    min-height: calc(100vh - 150px);
} 
.wrap {
    display: flex; 
}
.footer{
    height: 50px;
    width: 100%;
    background-color: green;}
.picture{
        width: 200px;
        height: 100px;
    }
 img {
     height: 100px;
     width: 150px;
     margin-left: 10px;
     padding-top:10px;
 }
 h1{
     padding-top: 15px;
     font-size: 40px;
     margin-left: 20px;
 }
 .nav{
    width: 200px;
    height: 100px;
 }
 .type{
     flex-grow: 1;
 }
 ul li{
     color: blue;
     padding-top: 5px;
     text-decoration-line: underline;
     text-align: right;
     padding-right: 10px;
     
 }
 .row{
     margin-top: 20px;
 }
 